<ng-scrollbar id="tableWrapper" thumbClass="scrollbar-thumb" track="vertical" trackClass="scrollbar" visibility="hover">
  <ng-container *ngIf="cards$ | ngrxPush as data">
    <table [dataSource]="data" class="mat-elevation-z8" fxFill mat-table>
      <ng-container matColumnDef="id">
        <th *matHeaderCellDef mat-header-cell>Id.</th>
        <td *matCellDef="let element" mat-cell>{{ element.id }}</td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th *matHeaderCellDef mat-header-cell>Name</th>
        <td *matCellDef="let element" mat-cell>{{ element.name }}</td>
      </ng-container>

      <ng-container matColumnDef="date">
        <th *matHeaderCellDef mat-header-cell>Date</th>
        <td *matCellDef="let element" mat-cell>
          {{ element.create_time | date: 'shortDate' }} - {{ element.create_time | date: 'shortTime' }}
        </td>
      </ng-container>

      <ng-container matColumnDef="latitude">
        <th *matHeaderCellDef mat-header-cell>Latitude</th>
        <td *matCellDef="let element" mat-cell>{{ element.satelliteState.iss_position.latitude }}</td>
      </ng-container>

      <ng-container matColumnDef="longitude">
        <th *matHeaderCellDef mat-header-cell>Longitude</th>
        <td *matCellDef="let element" mat-cell>{{ element.satelliteState.iss_position.longitude }}</td>
      </ng-container>

      <tr *matHeaderRowDef="displayedColumns; sticky: true" mat-header-row></tr>
      <tr *matRowDef="let row; columns: displayedColumns" mat-row></tr>
    </table>
  </ng-container>
</ng-scrollbar>
