<h1>ISS TRACKER</h1>
<mat-form-field appearance="outline" id="filterForm">
  <mat-label>Search</mat-label>
  <input #filter [formControl]="filterControl" matInput />
  <mat-icon (click)="filterControl.reset('')" *ngIf="!!filter?.value?.length" matSuffix>close</mat-icon>
</mat-form-field>
<ng-scrollbar
  [autoHeightDisabled]="false"
  fxFlex
  pointerEventsMethod="scrollbar"
  thumbClass="scrollbar-thumb"
  track="vertical"
  trackClass="scrollbar"
  visibility="hover"
>
  <!--    (chartClick)='onChartClick($event)'-->
  <cdk-virtual-scroll-viewport [appendOnly]="true" [orientation]="'vertical'" class="no-overflow" itemSize="200" scrollViewport>
    <ng-container *ngFor="let card of cards$ | async">
      <app-card-preview
        [card]="card"
        [isSelected]="card.id === (selectedCard$ | async)?.id"
        [ngClass]="{ selected: card.id === (selectedCard$ | async)?.id }"
      ></app-card-preview>
    </ng-container>
  </cdk-virtual-scroll-viewport>
</ng-scrollbar>
