@import 'stylesheets/utils';

:host {
  @include h-100;
  @include w-100;
  padding: 1rem;
  position: relative;
}

#satelliteIcon > img {
  height: 64px;
  width: 64px;
  transform: rotate(180deg);
}
