<mgl-map
  (mapLoad)="initMainMap($event)"
  [antialias]="false"
  [attributionControl]="false"
  [centerWithPanTo]="true"
  [center]="center"
  [crossSourceCollisions]="false"
  [cursorStyle]="cursorStyle$?.value"
  [doubleClickZoom]="false"
  [failIfMajorPerformanceCaveat]="true"
  [id]="'mainMapBox'"
  [interactive]="false"
  [minZoom]="3"
  [movingMethod]="'flyTo'"
  [preserveDrawingBuffer]="false"
  [renderWorldCopies]="true"
  [style]="'mapbox://styles/mapbox/dark-v10'"
  [trackResize]="true"
  fxFill
  oncontextmenu="return false;"
>
  <mgl-image (imageLoaded)="satelliteImgLoaded = true" [url]="SATELLITE_ICON" id="satellite"></mgl-image>
  <!--  <mgl-geojson-source [data]="satelliteState$ | async | dsLocation" [id]="'satellite__location__source'"></mgl-geojson-source>
                  <mgl-layer
                    *ngIf="satelliteImgLoaded"
                    [before]=""
                    [id]="'satellite__location'"
                    [layout]="{ 'icon-image': 'satellite', 'icon-size': 0.1, 'icon-rotate': 180 }"
                    [source]="'satellite__location__source'"
                    type="symbol"
                  ></mgl-layer>-->

  <ng-container *ngIf="center">
    <mgl-marker [lngLat]="center" pitchAlignment="map" rotationAlignment="map">
      <picture id="satelliteIcon">
        <source [srcset]="SATELLITE_ICON" />
        <img alt="satellite" />
      </picture>
    </mgl-marker>
  </ng-container>
</mgl-map>

<ng-container *ngIf="!!(satelliteState$ | async) && (satelliteState$ | async) as satelliteState">
  <app-save-location [satelliteState]="satelliteState"></app-save-location>
</ng-container>
