<mat-card (click)="selectCard(card)" [ngClass]="{ selected: card.id === selectedCardId }" fxFlex="100" fxLayout="column" id="previewCard">
  <mat-icon (click)="$event.stopPropagation(); requestDelete(card)" [matTooltip]="'Delete'" id="deleteCardBtn">close</mat-icon>
  <mat-card-title fxFlex="0 0 20px">
    {{ card.name }}
  </mat-card-title>
  <mat-card-content *ngIf="card.satelliteState as state" fxFlex="0 0 auto" fxLayout="column" fxLayoutGap="4px">
    <span>Lat: {{ state.iss_position.latitude }}, Lon: {{ state.iss_position.longitude }}</span>
    <span>Date: {{ card.create_time | date: 'shortDate' }} - {{ card.create_time | date: 'shortTime' }}</span>
  </mat-card-content>
</mat-card>
