@use 'sass:math';
@import '~stylesheets/utils';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@at-root {
  @-ms-viewport {
    width: device-width;
  }
}

html,
body,
app-root {
  @include h-100;
  @include w-100;
  background: $dark-grey;
  font-family: Roboto, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
  font-size: 1rem;
  margin: 0;
  overflow: hidden;
}

app-root > main {
  background: $dark-grey;
}

mat-icon {
  @include display-center(center);
}

button {
  min-width: 16px !important;
}

.mat-button-wrapper {
  /*@include display-center();*/
  //@include h-100;
  //@include w-100;
  flex-direction: row;
  display: flex;
}

.mat-drawer-side {
  border: none !important;
}

.fast_transition {
  @include transform-transition(333);
}

.w-100 {
  @include w-100;
}

.h-100 {
  @include h-100;
}

.content {
  padding: 26px 30px;
}

.hide {
  display: none !important;
}

/*virtual Scroll*/
scrollbar-y {
  z-index: 99;
}

h3 {
  @include def-font-family(1.125rem);
}

h4 {
  @include def-font-family(1rem);
}

h5 {
  @include def-font-family(0.813rem);
}

.scrollbar,
ng-scrollbar {
  //@include transitionEasy(.4, background);
  //@include transitionEasy(.4, width);
  --scrollbar-size: 6px;
  --scrollbar-hover-size: var(--scrollbar-size) !important;
  --scrollbar-border-radius: 4px !important;
  --scrollbar-thumb-color: rgba(255, 255, 255, 0.3) !important;
  --scrollbar-thumb-hover-color: rgba(255, 255, 255, 0.5) !important;
}

.mat-button-disabled {
  cursor: not-allowed !important;
}

/* Select outline*/
.mat-form-field-appearance-outline > .mat-form-field-wrapper {
  padding-bottom: 0;

  .mat-select-trigger {
    font-size: 13px;
    text-align: center;

    .mat-select-arrow-wrapper {
      transform: translateY(-4%);
    }
  }
}

.mat-form-field-appearance-outline .mat-form-field-infix {
  padding: 0.5em 0;
  border-top: 4px solid #0000;
}

.mat-form-field {
  @include def-font-family(0.9024rem);
}

.mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label,
.mat-form-field-appearance-outline.mat-form-field-can-float .mat-input-server:focus + .mat-form-field-label-wrapper .mat-form-field-label {
  transform: translateY(-1.1em) scale(0.75) !important;
}

.mat-form-field-appearance-outline .mat-form-field-label {
  mat-label {
    top: -2px;
    position: relative;
  }
}

.mat-form-field-prefix,
.mat-form-field-suffix {
  top: 0.5em !important;
  right: 0.25em !important;
}

.mat-select-panel,
.mat-menu-panel {
  background-color: #16191d !important;
}

.mat-tooltip {
  @include notification-style();
}

.mat-menu-panel {
  min-width: 64px !important;
  max-width: 512px !important;
}
